<h1>Lista de Categorias</h1>

<table id="tabelaCategoria" cellspacing="0px">
  <thead>
    <tr>
      <th class="cor">Cor</th>
      <th class="titulo">Título</th>
      <th class="descricao">Descrição</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td class="cor"><div class="corCategoria" style="background-color: <%= category.cor %>;"></div></td>
        <td class="titulo"><%= link_to category.titulo, category %></td>
        <td class="descricao"><%= truncate(strip_tags(category.descricao), length: 80) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Categoria', new_category_path, class: "botao isolado" %>
