<tr>
	<td><%= link_to ("R$ " + part.valor.to_s), edit_part_path(part) %></td>
	<td><%= part.data %></td>
	<td>
		<% if (part.confirmacao != 1) %>
			<%= button_to "Efetivar!", efetivar_part_path(part), method: :patch, remote: true %>
		<% else %>
			Efetivado
		<% end %>
	</td>
</tr>