<h3> Avisos </h3>

<table>
  <thead>
    <tr>
      <th>Meta</th>
      <th>Dias Restantes</th>
  </tr>
  </thead>
<tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.titulo %></td>
        <td><%= goal.contaDias %></td>
	  </tr>
    <% end %>
  </tbody>
</table>
		
	
 <br/>
<%= link_to "Resetar Registros", home_index_path, class: "botao isolado", method: :delete, data: { confirm: "Apagar.Confirma?" } %>