<div id="colunaEsquerda" style="width: 500px;">
	<h2>Lançamentos pendentes</h2>
	<table cellspacing="0px">
		<thead>
			<tr>
				<th colspan="2">Titulo</th>
				<th>Data</th>
				<th>Valor</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody id="entryAndPartHome">
			<%= render "entry_and_part" %>
		</tbody>
	</table>
</div>


<div id="colunaDireita" style="width: 390px;">
	<h2>Andamento das metas</h2>
	<table cellspacing="0px">
		<thead>
			<tr>
				<th>Meta</th>
				<th>Dias Restantes</th>
			</tr>
		</thead>
		<tbody>
		<% @goals.each do |goal| %>
			<tr>
				<td><%= goal.titulo %></td>
				<td><%= goal.contaDias %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>


<%= link_to "Resetar Registros", home_index_path, class: "botao isolado", method: :delete, data: { confirm: "Categorias, Lançamentos e Metas serão apagados!\nDeseja prosseguir?" } %>