<h1>Relatórios</h1>

<table id="relatorioTab" cellspacing="0px">
<tr><td>100%</td><td rowspan="10" colspan="12"><div id="relatorio"></td></tr>
<tr><td>90%</td></tr>
<tr><td>80%</td></tr>
<tr><td>70%</td></tr>
<tr><td>60%</td></tr>
<tr><td>50%</td></tr>
<tr><td>40%</td></tr>
<tr><td>30%</td></tr>
<tr><td>20%</td></tr>
<tr><td>10%</td></tr>
</div>
</table>