/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*
{
margin: 0px;
padding: 0px;
font-family: "Corbel", "Consolas", "Arial";
}

header, article
{
position: relative;
clear: both;
margin: 0px auto;
width: 900px;
padding: 25px;
}

h1, h2, h3
{
color: rgb(76, 77, 78);
font-family: "Corbel", "Consolas", "Broadway", "Bernard MT", "Arial";
}

textarea
{
resize: none;
}

table
{
width: 100%;
}

table th, table td
{
padding: 5px;
}

.corCategoria
{
width: 30px;
height: 12px;
border: 1px #999 solid;
margin: 0px auto;
}

.sublinhado
{
display: block;
border-bottom: 1px solid #ccc;
padding-bottom: 2px;
}

/*--- Botoes ---*/
.botao
{
display: inline;
text-decoration: none;
color: #fff;
background-color: rgb(77, 137, 193);
font-weight: bold;
}
	.botao:hover
	{
	background-color: rgb(202, 228, 249);
	color: rgb(77, 137, 193);
	}

.isolado
{
border-radius: 8px;
padding: 5px 8px 5px 8px;
display: line;
text-align:center;
color: rgb(77, 137, 193);
border: 1px rgb(77, 137, 193) solid;
background-color: #fff;
}
	.isolado:hover
	{
	color: #fff;
	background-color: rgb(77, 137, 193);
	}

.vertical
{
text-align: center;
}

#esquerda
{
float: left;
padding-right: 5px;
width: 395px;
}

#direita
{
float: right;
padding-left: 5px;
width: 495px;
}

/*--- Cabecalho ---*/

header
{
height: 120px;
padding-top: 5px;
padding-bottom: 20px;
}

header h1
{
font-size: 50px;
float: left;
}

header p
{ float: right; }

header img
{ float: left; }


#sair
{
float: right;
font-weight: bold;
}

.sair
{
color: background-color: rgb(52, 52, 52);
padding: 5px;
text-decoration: none;
}
	#sair a:hover
	{
	text-decoration: underline;
	}

/*--- Menu ---*/
nav
{
position: absolute;
bottom: 0px;
}

nav ul
{
list-style: none;
}

nav ul li
{
float: left;
}

nav ul li .botao
{
display: block;
width: 152px;
text-align: center;
padding: 10px;
font-size: 15px;
font-weight: bold;
margin-right: 10px;
}
	nav ul li:nth-child(5) .botao
	{ margin-right: 0px; }


/*--- Corpo ---*/
article
{
/*background-color: #F1EDEA;*/
padding-bottom: 30px;
}

article h2, article h3
{
color: rgb(77, 137, 193);
}

article h1
{
margin-bottom: 20px;
}

article thead, article tfoot tr
{
color: #fff;
background-color: rgb(77, 137, 193);
}

article tbody tr
{
background-color: #e0e0e0;
}
article tbody tr:nth-child(odd)
{
background-color: #f0f0f0;
}



/* ---- Auxiliares ---- */


#colunaDireita
{
width: 495px;
padding-left: 5px;
float: right;
}

#colunaEsquerda
{
width: 395px;
padding-right: 5px;
float: left;
}