// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tabelaCategoria
{
}

#cores
{
border: 1px solid #eee;
padding: 5px;
overflow: hidden;
/*width: 70px;
height: 30px;*/
max-width: 270px;
}
#cores td
{
background-color: #fff;
width: 40px;
height: 20px;
}
#cores input
{
float: right;
}

#tabelaCategoria thread *
{
text-align: center;
}

#tabelaCategoria .titulo
{
width: 190px;
font-weight: bold;
}

#tabelaCategoria .cor
{
width: 40px;
}

#tabelaCategoria .descricao
{
text-align: left;
}

#tabelaCategoria .gerenciamento
{
text-align: center;
}

#tabelaCategoria .gerenciamento a
{
margin: 5px;
font-weight: bold;
padding: 2px;
border-radius: 4px;
text-decoration: none;
}