// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#parcelas_field
{
display: block;
overflow: hidden;
height: 0px;
opacity: 0;

-webkit-transition-property: opacity, height;
-webkit-transition-duration: 300ms;
-webkit-transition-timing-function: ease-in;
-webkit-transition-delay: 0ms;

-moz-transition-property: opacity, height;
-moz-transition-duration: 300ms;
-moz-transition-timing-function: ease-in;
-moz-transition-delay: 0ms;

-o-transition-property: opacity, height;
-o-transition-duration: 300ms;
-o-transition-timing-function: ease-in;
-o-transition-delay: 0ms;

transition-property: opacity, height;
transition-duration: 300ms;
transition-timing-function: ease-in;
transition-delay: 0ms;
}

#tabelaLancamento #tipo
{
width: 35px;
}
#tabelaLancamento #cat
{
width: 70px;
}
#tabelaLancamento #titulo
{
width: 250px;
}
#tabelaLancamento #period
{
width: 100px;
}

#tabelaLancamento .data
{
text-align: center;
width: 80px;
}

.valorBarra
{
background: repeating-linear-gradient(-45deg, #ccc 0px, #ccc 1px, #fff 1px, #fff 6px);
border: 1px solid #ccc;
width: 100px;
height: 10px;
background-color: white;
border-radius: 3px;
overflow: hidden;
}

.valorBarra .valorPago
{
height: 10px;
float: left;

-webkit-transition-property: width;
-webkit-transition-duration: 500ms;
-webkit-transition-timing-function: ease-in;
-webkit-transition-delay: 0ms;

-moz-transition-property: width;
-moz-transition-duration: 500ms;
-moz-transition-timing-function: ease-in;
-moz-transition-delay: 0ms;

-o-transition-property: width;
-o-transition-duration: 500ms;
-o-transition-timing-function: ease-in;
-o-transition-delay: 0ms;

transition-property: width;
transition-duration: 500ms;
transition-timing-function: ease-in;
transition-delay: 0ms;
}


.receita, .despesa
{
width: 0px;
height: 0px;
border: 8px black solid;
border-opacity: 0;
overflow: hidden;
margin: 0px auto;
float: left;
margin-top: 5px;
}

.receita
{
border-color: transparent transparent green transparent;
border-top: 0px;
border-bottom: 13px rgb(108, 198, 68) solid;
}

.despesa
{
border-color: red transparent transparent transparent;
border-bottom: 0px;
border-top: 13px rgb(215, 67, 27) solid;
}