// Place all the styles related to the Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.razaoTotal
{
width: 100px;
margin: 0px auto;
height: 10px;
border: 1px solid #999;
background: repeating-linear-gradient(135deg, #ffffff 0px, #ffffff 3px, #eeeeee 3px, #eeeeee 5px);
}

.razaoCategoria
{
float: left;
height: 10px;
}

tfoot .razaoTotal
{
width: 250px;
}

.valor
{
width: 110px;
}

.porcentagem
{
width: 40px;
}

.barra
{
width: 110px;
}

#relatorioTab
{ width: auto; margin: 0px auto;}

#relatorioTab td
{
font-size: 10px;
height: 10px;
padding: 0px;
text-align: center;
}

#relatorio
{
position: relative;
width: 540px;
height: 200px;
background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 59px, rgba(240, 240, 240, 1) 59px, rgba(240, 240, 240, 1) 60px), repeating-linear-gradient(180deg, #eeeeee 0px, #eeeeee 20px, #ffffff 20px, #ffffff 40px);
border-left: 1px solid black;
border-bottom: 1px solid black;
}

#relatorio svg
{ position: absolute; left: 0px; }

#reportCategorias
{ width: auto; }
#reportCategorias .titulo
{ width: 210px; }
#reportCategorias .cor
{ width: 50px; }

#reportCategorias td
{
background-color: white;
border-bottom: 1px #ddd solid;
}
#reportCategorias tr:nth-child(1) td
{ border-top: 1px #ddd solid; }