<% @category.lancamentos_mes(Date.today).each do |e| %>
	<% e.parcelas_mes(Date.today).each do |p| %>
		<tr>
			<td>
				<% if e.tipo == 0 %>
					<div class="despesa">Despesa</div>
				<% else %>
					<div class="receita">Receita</div>
				<%end%>
			</td>
			<td><%= link_to truncate(strip_tags(e.titulo), length: 30), e %> </td>
			<td class="valor">R$ <%= p.entry.valor %></td>
			<% if (p.confirmacao != 1) %>
				<td style="color: red;">Pendente</td>
			<% else %>
				<td style="color: green;">Efetivado</td>
			<% end %>
		</tr>
	<% end %>
<% end %>