// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tabelaCategoria
{
}

#tabelaCategoria thread *
{
text-align: center;
}

#tabelaCategoria .titulo
{
width: 190px;
font-weight: bold;
}

#tabelaCategoria .cor
{
width: 40px;
}

#tabelaCategoria .descricao
{
text-align: left;
}

#tabelaCategoria .gerenciamento
{
text-align: center;
}

#tabelaCategoria .gerenciamento a
{
margin: 5px;
font-weight: bold;
padding: 2px;
border-radius: 4px;
text-decoration: none;
}